<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The list of XUnit.NET configuration options: http://xunit.github.io/docs/configuring-with-xml.html. -->
    <add key="xunit.parallelizeAssembly" value="true" />
    <add key="xunit.preEnumerateTheories" value="true" />
    <add key="xunit.diagnosticMessages" value="true" />
    <add key="xunit.methodDisplay" value="true" />
  </appSettings>
</configuration>
